__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info
*.eggs
*.dist-info
*.whl
*.db
*.sqlite3
*.log
*.coverage
*.mypy_cache
*.pytest_cache
*.vscode
*.idea
*.DS_Store
*.vscode-test
*.env
*.venv
*.virtualenv
*.pyenv
*.pytest_cache
*.tox
certs
calculator_pb2.py
calculator_pb2_grpc.py